<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- url_for allows you to switch your static directory and still have things work, among other advantages -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    {% block head %} {% endblock head %}
  </head>

  <body>
    {% block body %} {% endblock body %}
  </body>
</html>
